In [1]:
import pandas as pd

In [2]:
random_state = 64
target = 'delivery_time'

# Loading data

In [4]:
historical_data_df = pd.read_csv('datasets/historical_data.csv')
historical_data_df.head()

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [5]:
historical_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB

## Datetime columns

In [6]:
historical_data_df['created_at'] = pd.to_datetime(historical_data_df['created_at'], format='%Y-%m-%d %H:%M:%S')
historical_data_df['actual_delivery_time'] = pd.to_datetime(historical_data_df['actual_delivery_time'], format='%Y-%m-%d %H:%M:%S')
historical_data_df['created_hours'] = historical_data_df['created_at'].dt.hour
historical_data_df[target] = (historical_data_df['actual_delivery_time'] - historical_data_df['created_at']).dt.seconds
historical_data_df = historical_data_df.dropna(subset=target)
historical_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197421 entries, 0 to 197427
Data columns (total 18 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196434 non-null  float64
 1   created_at                                    197421 non-null  datetime64[ns]
 2   actual_delivery_time                          197421 non-null  datetime64[ns]
 3   store_id                                      197421 non-null  int64
 4   store_primary_category                        192661 non-null  object
 5   order_protocol                                196426 non-null  float64
 6   total_items                                   197421 non-null  int64
 7   subtotal                                      197421 non-null  int64
 8   num_distinct_items                            197421 non-null  int64
 9   min_item_price                                197421 non-null  int64
 10  max_item_price                                197421 non-null  int64
 11  total_onshift_dashers                         181159 non-null  float64
 12  total_busy_dashers                            181159 non-null  float64
 13  total_outstanding_orders                      181159 non-null  float64
 14  estimated_order_place_duration                197421 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196895 non-null  float64
 16  created_hours                                 197421 non-null  int32
 17  delivery_time                                 197421 non-null  float64
dtypes: datetime64[ns](2), float64(7), int32(1), int64(7), object(1)
memory usage: 27.9+ MB

In [8]:
from sklearn.model_selection import train_test_split

train_csv, test_csv = train_test_split(historical_data_df, test_size=0.1, random_state=random_state)
print(f'Shape of training set: {train_csv.shape}')
print(f'Shape of test set: {test_csv.shape}')
train_csv.to_csv('datasets/train.csv')
test_csv.to_csv('datasets/test.csv')

print('Split and save complete.')

Shape of training set: (177678, 18)
Shape of test set: (19743, 18)
Split and save complete.